<img src="./Img/Label_02.png">

5 февраля 2021 года <br>
Семинар <br>
ПИ19-3, ПИ19-4 - 3 подгруппа<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

6 февраля 2021 года <br>
Семинар <br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

# Тема 1. SQLAlchemy и язык выражений SQL 
SQL Expression Language

# Введение

## SQLAlchemy и язык выражений SQL

SQLAlchemy - библиотека Пайтон, которая устраняет разрыв между реляционными базами данных и традиционным программированием. Хотя SQLAlchemy позволяет «опуститься» до необработанного SQL для выполнения запросов, она поощряет мышление более высокого уровня за счет более «питонического» и дружественного подхода к запросам и обновлению базы данных. SQLAlchemy используется для взаимодействия с широким спектром баз данных. Она позволяет создавать модели данных и запросы в манере, напоминающей обычные классы и операторы Python.

Язык выражений SQL (SQL Expression Language), называемый также Кор (Core, ядро) - это инструмент SQLAlchemy для представления общих операторов и выражений SQL в стиде Пайтон. Он ориентирован на фактическую схему базы данных и стандартизирован таким образом, что обеспечивает единообразный язык для большого числа серверных баз данных.

SQLAlchemy Core имеет представление, ориентированное на схему, таблицы, ключи и индексы, как и традиционный SQL. SQLAlchemy Core эффективен в отчетах, анализе и других применениях, где полезно иметь возможность жестко контролировать запрос или работать с немоделированными данными. Надежный пул соединений с базой данных и оптимизация набора результатов идеально подходят для работы с большими объемами данных.

## Кодирование

Работать с SQLAlchemy удобно в интерактивной среде "чтение-оценка-вывод" (read-evaluate-print-loop REPL), в такой, как интерактивный ноутбук ipython http://ipython.org/

Установка Юпитер Ноутбук
https://jupyter.readthedocs.io/en/latest/install/notebook-classic.html

Для освоения и работы с ноутбуком iPython, рекомендуется пакет программ Анаконда (Anaconda).

https://www.anaconda.com/products/individual

Анаконда содержит Пайтон, Юпитер ноутбук и другие часто используемые приложения для научных вычислений и обработки данных.

Порядок установки и запуска интерктивной среды Юпитер ноутбук

1. Загрузить Анаконда
2. Установить Анаконда
3. Запустить Юпитер ноутбук. Для этого использовать команду меню, либо консольную команду

    => jupyter notebook

## Установка SQLAlchemy

In [1]:
# ! pip install sqlalchemy

## Установка драйверов баз данных

По **_умолчанию_** SQLAlchemy поддерживает SQLite3 без дополнительных драйверов. Для подключения к другим базам данных необходимы дополнительные драйверы баз данных.

- PostgreSQL. <br>Установка драйвера Psycopg2: http://initd.org/psycopg/
- MySQL (требуется версия MySQL  4.1  и выше)
- Другие

SQLAlchemy также можно использовать вместе с Drizzle, Firebird, Oracle, Sybase и Microsoft SQL Server. Сообщество также предоставило внешние диалекты для многих других баз данных, таких как IBM DB2, Informix, Amazon Redshift, EXASolution, SAP SQL Anywhere, Monet и многих других. Создание диалектов поддерживается SQLAlchemy.

In [2]:
# PostgreSQL
# ! pip install psycopg2

# MySQL
# ! pip  install  pymysql

## Соединение с базой данных

Чтобы подключиться к базе данных, нужно создать механизм (движок) SQLAlchemy. Механизм SQLAlchemy создает общий интерфейс с базой данных для выполнения операторов SQL.

SQLAlchemy предоставляет функцию для создания механизма с учетом *строки подключения* и, возможно, некоторых дополнительных именованных (keywords) аргументов. Строка подключения может содержать:

- Тип базы данных (Postgres, MySQL, etc.);
- Диалект, если он отличается от установленного по умолчанию для конкретного типа базы данных (Psycopg2, PyMySQL и т. д.);
- Дополнительные данные аутентификации (имя пользователя и пароль);
- Расположение базы данных (файл или имя хоста сервера базы данных);
- Дополнительный порт сервера базы данных;
- Необязательное имя базы данных.

Строка подключения позволяют нам использовать конкретный файл или место хранения. В примере 1 определяется файл базы данных SQLite с именем <TT>listings.db</tt>:
- хранящийся в текущем каталоге;
- в памяти;
- с указанием полного пути к файлу (Unix и Windows). 

В Windows строка подключения будет иметь вид engine4; \\\ требуются для экранирования символа "слэш".

Функция <TT>create_engine</tt> возвращает экземпляр механизма SQLAlchemy.

In [3]:
# 0-1. Создание механизма SQLAlchemy со строкой подключения SQLite

import sqlalchemy
from sqlalchemy import create_engine

engine = create_engine('sqlite:///listings.db')
# engine2 = create_engine('sqlite:///:memory:')
# engine3 = create_engine('sqlite:////home/Airbnb/listings.db')
# engine4 = create_engine('sqlite:///c:\\Users\\Airbnb\\listings.db')

PostgreSQL<br>Пример 2. Cоздание механизма для локальной базы данных PostgreSQL с именем mydb

`
from sqlalchemy import create_engine
engine=create_engine('postgresql+psycopg2://username:password@localhost:5432/mydb')
`

MySQL. <br> Пример 3. Создание механизма для удаленной БД MySQL

`
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://username:password''@mysql01.mikhail.internal/listings', pool_recycle=3600)
`

Теперь, когда создан экземпляр механизма соединения с базой данных, мы можем начать использовать SQLAlchemy Core чтобы связать наше приложение с сервисами базы данных.

# 1.1. Схема и типы данных

В процессе выполнения кода примеров этой темы нам понадобятся библиотеки

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String, DateTime, 
                        Boolean, ForeignKey, create_engine, PrimaryKeyConstraint, 
                        UniqueConstraint, CheckConstraint, Index, insert, BigInteger)

В SQLAlchemy имеется четыре категории типов данных: 
- Универсальный 
- Стандартный SQL 
- Зависящий от поставщика 
- Определяется пользователем

Универсальная категория типов данных предназначена для сопоставления типов данных в Python и SQL.

In [5]:
pd.DataFrame(['BigInteger,int,BIGINT'.split(','),
              'Boolean,bool,BOOLEAN or SMALLINT'.split(','),
              'Date,datetime.date,DATE (SQLite: STRING)'.split(','),
              'DateTime,datetime.datetime,DATETIME (SQLite: STRING)'.split(','),
              'Enum,str,ENUM or VARCHAR'.split(','),
              'Float,float or Decimal,FLOAT or REAL'.split(','),
              'Integer,int,INTEGER'.split(','),
              'Interval,datetime.timedelta,INTERVAL or DATE from epoch'.split(','),
              'LargeBinary,byte,BLOB or BYTEA'.split(','),
              'Numeric,decimal.Decimal,NUMERIC or DECIMAL'.split(','),
              'Unicode,unicode,UNICODE or VARCHAR'.split(','),
              'Text,str,CLOB or TEXT'.split(','),
              'Time,datetime.time,DATETIME'.split(',')],
              columns='SQLAlchemy,Python,SQL'.split(','))

     SQLAlchemy              Python                          SQL
0    BigInteger                 int                       BIGINT
1       Boolean                bool          BOOLEAN or SMALLINT
2          Date       datetime.date        DATE (SQLite: STRING)
3      DateTime   datetime.datetime    DATETIME (SQLite: STRING)
4          Enum                 str              ENUM or VARCHAR
5         Float    float or Decimal                FLOAT or REAL
6       Integer                 int                      INTEGER
7      Interval  datetime.timedelta  INTERVAL or DATE from epoch
8   LargeBinary                byte                BLOB or BYTEA
9       Numeric     decimal.Decimal           NUMERIC or DECIMAL
10      Unicode             unicode           UNICODE or VARCHAR
11         Text                 str                 CLOB or TEXT
12         Time       datetime.time                     DATETIME

Стандартные типы (например CHAR и NVARCHAR)  используются в случаях, когда универсальные типы не отвечают требованиям из-за конкретной структуры данных.

Типы, зависящие от поставщика. Пример: поле JSON в PostgreSQL.

<TT>fromsqlalchemy.dialects.postgresqlimport JSON</tt>

## Метаданные

Метаданные используются для связывания структуры базы данных. Метаданные полезно рассматривать как каталог объектов таблиц с дополнительной информацией о механизме и соединении. Метаданные необходимо импортировать и инициализировать. Инициализируем экземпляр объектов MetaData:

In [6]:
# 1-1

from sqlalchemy import MetaData
metadata = MetaData()

## Таблицы

Объекты таблиц инициализируются в SQLAlchemy Core путем вызова конструктора <TT>Table</tt> с именем таблицы и метаданными, аргументы считаются объектами столбцов. Столбцы создаются путем вызова Column с именем, типом и затем аргументами, которые представляют дополнительные конструкции и ограничения SQL. В примере 1-2 создадим таблицу, которая может использоваться для перечня объектов размещения гостиничного бизнеса airbnb: http://insideairbnb.com/get-the-data.html

In [7]:
# 1-2

listing=Table('listing',metadata,
               Column('listing_id',Integer(),primary_key=True),
               Column('listing_name',String(50),index=True),
               Column('listing_url',String(255)),
               Column('host_id',Integer()),
               Column('neighbourhood_id',Integer()),
               Column('amenities',String(300)),
               Column('property_type_id',Integer()),
               Column('room_type_id',Integer()),
               Column('bedrooms',Integer()),
               Column('beds',Integer()),
               Column('price',Numeric(7,2)),
               CheckConstraint('price >= 0.00', name='listing_price_positive'),
               extend_existing=True
              )

In [8]:
pd.DataFrame({'En':['listing_id','listing_name','listing_url','host_id','neighbourhood_id',
                  'amenities','property_type_id','room_type_id','bedrooms','beds','price'],
            'Ru':['идентификатор объекта размещения','имя объекта размещения',
                  'адрес веб-страницы','идентификатор владельца',
                  'идентификатор местоположения','оборудование, удобства',
                  'тип собственности','тип помещения','число спален','число кроватей','цена']})

                  En                                Ru
0         listing_id  идентификатор объекта размещения
1       listing_name            имя объекта размещения
2        listing_url                адрес веб-страницы
3            host_id           идентификатор владельца
4   neighbourhood_id      идентификатор местоположения
5          amenities            оборудование, удобства
6   property_type_id                 тип собственности
7       room_type_id                     тип помещения
8           bedrooms                      число спален
9               beds                    число кроватей
10             price                              цена

### Дополнительные аргументы

Рассмотрим использование дополнительных аргументов <TT>nullable, unique, onupdate</tt>

In [9]:
# 1-3

user=Table('user',metadata,
            Column('user_id',Integer(),primary_key=True),
            Column('user_name',String(15),nullable=False,unique=True),
            Column('email_address',String(255),nullable=False),
            Column('phone',String(20),nullable=False),
            Column('password',String(25),nullable=False),
            Column('created_on',DateTime(),default=datetime.now),
            Column('updated_on',DateTime(),default=datetime.now,onupdate=datetime.now)
           )

### Ключи и ограничения

Ключи и ограничения задают с помощью объектов <TT>PrimaryKeyConstraint, UniqueConstraint, CheckConstraint</tt>

#### Первичный ключ
В примерах 1-2 и 1-3  столбцы `listing_id` и `user_id` объявлялись первичными ключами с помощью ключевого слова <TT>primary_key</tt>. Также, можно определить составной первичный ключ, присвоив параметру <TT>primary_key</tt> значение <TT>True</tt> для нескольких столбцов. Таким образом, ключ рассматривается как кортеж, в котором столбцы, помеченные как ключ, присутствуют в порядке, в котором они были определены в таблице. Первичные ключи также могут быть определены после столбцов в конструкторе таблицы, как показано в следующем фрагменте.

`user=Table('user',metadata,
            Column('user_name',String(15),nullable=False,unique=True),
            Column('email_address',String(255),nullable=False),
            Column('phone',String(20),nullable=False),
            Column('password',String(25),nullable=False),
            Column('created_on',DateTime(),default=datetime.now),
            Column('updated_on',DateTime(),default=datetime.now,onupdate=datetime.now),
            PrimaryKeyConstraint('user_id', name='user_pk'),
            extend_existing=True
           )`

#### Уникальность
Другое распространенное ограничение - ограничение уникальности, которое используется, чтобы гарантировать, что в данном поле значения не повторяются.

<TT>UniqueConstraint('user_name', name='uix_username')</tt>

#### Проверка значения
Этот тип ограничения используется, чтобы гарантировать, что данные, предоставленные для столбца, соответствуют набору критериев, определенных пользователем. В следующем фрагменте кода мы гарантируем, что <TT>price</tt> не может быть меньше 0,00:

<TT>CheckConstraint('price >= 0.00', name='listing_price_positive')</tt>

### Индексы

В примере 1-2 создан индекс для столбца listing_name. Когда индексы создаются, как показано в этом примере, они получают имена <TT>ix_listings_listing_name</tt>. Мы также можем определить индекс, используя явный тип конструкции. Можно обозначить несколько столбцов, разделив их запятой. Можно добавить аргумент ключевого слова <TT>unique = True</tt>, чтобы индекс был уникальным. При явном создании индексов они передаются в конструктор таблиц после столбцов. Чтобы имитировать указанный индекс явным способом, в конструктор <TT>Table</tt> требуется добавить <TT>Index('ix_listings_listing_name', 'listing_name')</tt>

Мы также можем создавать функциональные индексы для ситуаций, когда часто требуется запрос на основе нескольких полей БД. Например, если мы хотим искать по параметрам оборудования ("удобства") и цены в качестве объединенного элемента, можно определить функциональный индекс для оптимизации поиска:

In [10]:
Index('ix_am_price', listing.c.amenities, listing.c.price)

Index('ix_am_price', Column('amenities', String(length=300), table=<listing>), Column('price', Numeric(precision=7, scale=2), table=<listing>))

### Связи и внешние ключи
Тепрь, когда имеются пользователи и объекты размещения, необходимо обеспечить связи, позволяющие пользователям бронировать те или иные объекты. Рассмотрим схему данных.

<img src=./Img/listing_schema.png width="560">

Создадим таблицы для заказов `order`, `line_item`, таблицу местоположений `neighbourhood`, таблицы типов собственности и комнат `property_type`, `room_type`.

In [11]:
# 1-4

order = Table('order', metadata,
               Column('order_id', Integer(),primary_key=True),
               Column('user_id', ForeignKey('user.user_id')),
               Column('confirmed', Boolean(),default=False),
               Column('order_price', Integer()),
               extend_existing=True
              )

In [12]:
# 1-5

line_item = Table('line_item', metadata,
                   Column('line_item_id', Integer(), primary_key=True),
                   Column('order_id', ForeignKey('order.order_id')),
                   Column('listing_id', ForeignKey('listing.listing_id')),
                   Column('item_start_date', DateTime()),
                   Column('item_end_date', DateTime()),
                   Column('item_price', Integer()),
                   extend_existing=True
                  )

In [13]:
# 1-6

neighbourhood=Table('neighbourhood',metadata,
                    Column('neighbourhood_id',Integer(),primary_key=True),
                    Column('neighbourhood_name',String(30)),
                   )

In [14]:
# 1-7

property_type=Table('property_type',metadata,
                    Column('property_type_id',Integer(),primary_key=True),
                    Column('property_type_name',String(30))
                   )

In [15]:
# 1-8

room_type=Table('room_type',metadata,
                Column('room_type_id',Integer(),primary_key=True),
                Column('property_type_name',String(30))
               )

В примерах 1-4 и 1-5 внешние ключи задаются с помощью строки: <TT>'order.order_id'</tt>. Также существует явный способ задания ограничений по внешнему ключу: <TT>ForeignKeyConstraint(['order_id'], ['order.order_id'])</tt>

## Сохранение таблиц

Все таблицы и определения связаны с экземпляром метаданных. Сохранение схемы в базе данных осуществляется посредством вызова метода <TT>create_all()</tt> в экземпляре метаданных с движком, в котором он должен создавать эти таблицы. По умолчанию create_all не будет пытаться воссоздать таблицы, которые уже существуют в базе данных, и его можно запускать несколько раз. Движок (механизм) SQLAlchemy определен нами ранее в примере 0-1, экземпляр метаданных создан ранее в примере 1-1. Теперь осуществим вызов метода <TT>create_all()</tt>

In [16]:
metadata.create_all(engine)

## Дополнительно: DB Browser for SQLite
https://sqlitebrowser.org/

### Контрольная работа

1. Используя библиотеку SQLAlchemy и Юпитер Ноутбук создать реляционную базу данных (до 5-6 таблиц), отражающих финансово-экономческую деятельность отдела предприятия или решающих какую-либо задачу в рамках работы отдела или предпрития.
2. Создать схему (нарисовать).
3. Написать аннтоцию, кратко о смысле деятельности, отраженной в структуре данных.
4. Схему в pdf, png, jpeg и т. д. приложить к письму с результатом.

Результат в формате Юпитер Ноутбук прислать на почту mvsmirnov@fa.ru.

В теме письма указать подгруппу, Фимилию, ИО. В отдельной ячейке ноутбука  указать подгруппу, Фимилию, ИО.

<img src="./Img/Label_02.png">

19 февраля 2021 года <br>
Семинар <br>
ПИ19-3, ПИ19-4 - 3 подгруппа<br>
ПИ19-4, ПИ19-5 - 4 подгруппа

20 февраля 2021 года <br>
Семинар <br>
ПИ19-2, ПИ19-3, ПИ19-4 - 2 подгруппа

# 1.2. Работа с данными

Теперь, когда в нашей базе данных есть таблицы, приступим к работе с данными внутри этих таблиц. Мы рассмотрим, как вставлять, извлекать и удалять данные, а затем научимся сортировать, группировать и использовать связи в наших данных. Мы будем использовать язык SQLExpression Language (SEL), предоставляемый SQLAlchemy Core. Начнем с изучения того, как вставлять данные.

## Вставка данных

Вставим первую строку `ListingsAmsterdam.csv`.

In [17]:
am=pd.read_csv('ListingsAmsterdam.csv',sep=';')
am.head(5)

,id,listing_url,name,host_id,host_name,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bathrooms_text,...,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,20168,https://www.airbnb.com/rooms/20168,Studio with private bathroom in the centre 1,59484,Alexander,f,Centrum-Oost,Private room in townhouse,Private room,1 private bath,...,2010-03-02,2020-04-09,89,10.0,10.0,10.0,10.0,10.0,9.0,2.58
1,27886,https://www.airbnb.com/rooms/27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,t,Centrum-West,Private room in houseboat,Private room,1.5 baths,...,2012-01-09,2020-07-25,99,10.0,10.0,10.0,10.0,10.0,10.0,2.01
2,28871,https://www.airbnb.com/rooms/28871,Comfortable double room,124245,Edwin,t,Centrum-Oost,Private room in apartment,Private room,1 shared bath,...,2010-08-22,2020-09-20,97,10.0,10.0,10.0,10.0,10.0,10.0,2.68
3,29051,https://www.airbnb.com/rooms/29051,Comfortable single room,124245,Edwin,t,Centrum-Oost,Private room in apartment,Private room,1 shared bath,...,2011-03-16,2020-08-28,95,10.0,10.0,10.0,10.0,10.0,9.0,4.05
4,31080,https://www.airbnb.com/rooms/31080,2-story apartment + rooftop terrace,133488,Nienke,f,Zuid,Entire apartment,Entire home/apt,1 bath,...,2011-08-06,2017-10-16,95,9.0,10.0,10.0,10.0,9.0,9.0,0.28

In [18]:
am_neigh=pd.DataFrame(am['neighbourhood_cleansed'].value_counts()).sort_index().reset_index()
am_neigh.index=range(1,len(am_neigh)+1)
am_neigh

                                     index  neighbourhood_cleansed
1                          Bijlmer-Centrum                       2
2                            Bos en Lommer                     394
3                   Buitenveldert - Zuidas                      69
4                             Centrum-Oost                     702
5                             Centrum-West                     941
6                   De Aker - Nieuw Sloten                      42
7                   De Baarsjes - Oud-West                    1321
8                  De Pijp - Rivierenbuurt                     906
9                  Geuzenveld - Slotermeer                      49
10                IJburg - Zeeburgereiland                     150
11                              Noord-Oost                      73
12                              Noord-West                     137
13  Oostelijk Havengebied - Indische Buurt                     137
14                                  Osdorp                      41
15                               Oud-Noord                     242
16                                Oud-Oost                     396
17                             Slotervaart                     149
18                         Watergraafsmeer                     153
19                              Westerpark                     526
20                                    Zuid                     522

In [19]:
am_prop=pd.DataFrame(am['property_type'].value_counts()).sort_index().reset_index()
am_prop.index=range(1,len(am_prop)+1)
am_prop

                                 index  property_type
1                                 Boat             80
2                     Entire apartment           4248
3             Entire bed and breakfast              2
4                      Entire bungalow              1
5                   Entire condominium             95
6                       Entire cottage              2
7                         Entire floor              1
8                   Entire guest suite             13
9                    Entire guesthouse              6
10                        Entire house            404
11                         Entire loft            116
12                        Entire place              2
13           Entire serviced apartment             31
14                    Entire townhouse            190
15                        Entire villa              8
16                           Houseboat             76
17                          Lighthouse              1
18                        Private room              7
19           Private room in apartment            906
20   Private room in bed and breakfast            176
21                Private room in boat             34
22            Private room in bungalow              1
23               Private room in cabin              2
24         Private room in condominium             25
25               Private room in floor              1
26         Private room in guest suite             64
27          Private room in guesthouse              7
28              Private room in hostel              3
29               Private room in house            131
30           Private room in houseboat             50
31              Private room in island              2
32                Private room in loft             30
33  Private room in serviced apartment              3
34          Private room in tiny house              4
35           Private room in townhouse             82
36               Private room in villa              2
37                  Room in aparthotel              2
38           Room in bed and breakfast             35
39              Room in boutique hotel             37
40                      Room in hostel              2
41                       Room in hotel             27
42          Room in serviced apartment             23
43            Shared room in apartment             10
44    Shared room in bed and breakfast              1
45               Shared room in hostel              5
46                Shared room in house              1
47            Shared room in houseboat              2
48                          Tiny house              1

In [20]:
am_room=pd.DataFrame(am['room_type'].value_counts()).sort_index().reset_index()
am_room.index=range(1,len(am_room)+1)
am_room

             index  room_type
1  Entire home/apt       5279
2       Hotel room         74
3     Private room       1580
4      Shared room         19

In [21]:
am.loc[0]

id                                                                         20168
listing_url                                   https://www.airbnb.com/rooms/20168
name                                Studio with private bathroom in the centre 1
host_id                                                                    59484
host_name                                                              Alexander
host_is_superhost                                                              f
neighbourhood_cleansed                                              Centrum-Oost
property_type                                          Private room in townhouse
room_type                                                           Private room
bathrooms_text                                                    1 private bath
bedrooms                                                                       1
beds                                                                           1
amenities                      ["Wifi", "Hot water", "Hangers", "Host greets ...
price                                                                        236
number_of_reviews                                                            339
first_review                                                          2010-03-02
last_review                                                           2020-04-09
review_scores_rating                                                          89
review_scores_accuracy                                                        10
review_scores_cleanliness                                                     10
review_scores_checkin                                                         10
review_scores_communication                                                   10
review_scores_location                                                        10
review_scores_value                                                            9
reviews_per_month                                                           2.58
Name: 0, dtype: object

Создадим оператор вставки, чтобы поместить объект размещения в таблицу. Для этого мы можем вызвать метод `insert()` для таблицы `listing`, а затем использовать оператор `values()` с аргументами для каждого столбца.

In [22]:
# 2-1 Одиночная вставка как метод

ins=listing.insert().values(
    listing_id=20168,
    listing_name='Studio with private bathroom in the centre 1',
    listing_url='https://www.airbnb.com/rooms/20168',
    host_id=59484,
    neighbourhood_id=4,
    property_type_id=35,
    room_type_id=3,
    amenities=am.loc[0,'amenities'][:300],
    bedrooms=1,
    beds=1,
    price=236
)

print(str(ins))

INSERT INTO listing (listing_id, listing_name, listing_url, host_id, neighbourhood_id, amenities, property_type_id, room_type_id, bedrooms, beds, price) VALUES (:listing_id, :listing_name, :listing_url, :host_id, :neighbourhood_id, :amenities, :property_type_id, :room_type_id, :bedrooms, :beds, :price)

`print(str(ins))` показывает нам фактический оператор SQL, который будет выполнен. Наши  значения были заменены на: `column_name` в этом операторе SQL, именно так SQLAlchemy представляет параметры, отображаемые с помощью функции `str()`. Параметры используются, чтобы гарантировать, что наши данные были правильно экранированы, что снижает проблемы безопасности, такие как атаки с использованием SQL-инъекций. По-прежнему можно получить параметры, посмотрев на скомпилированную версию оператора вставки, потому что каждая внутренняя часть базы данных может обрабатывать параметры по-разному (это контролируется диалектом). 

Метод `compile()` для объекта `ins` возвращает объект `SQLCompiler`, который дает нам доступ к фактическим параметрам, которые будут отправлены с запросом через атрибут params:

In [23]:
ins.compile().params

{'listing_id': 20168,
 'listing_name': 'Studio with private bathroom in the centre 1',
 'listing_url': 'https://www.airbnb.com/rooms/20168',
 'host_id': 59484,
 'neighbourhood_id': 4,
 'amenities': '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]',
 'property_type_id': 35,
 'room_type_id': 3,
 'bedrooms': 1,
 'beds': 1,
 'price': 236}

Теперь, когда у нас есть полное представление об операторе вставки и мы понимаем, что будет вставлено в таблицу, мы можем использовать метод `execute()`, чтобы отправить оператор в базу данных, которая вставит запись в таблицу.

In [24]:
connection=engine.connect()

In [25]:
result=connection.execute(ins)

Мы также можем получить идентификатор вставленной записи, обратившись к атрибуту `inserted_primary_key`.

In [26]:
result.inserted_primary_key

[20168]

Обратите внимание, что значения `beds` и `bedrooms` в таблице `am` веществнного типа, в то время, как в базе данных эти поля целочисленного типа. В данном случае все работает корректно, так как параметрам `bedrooms` и`beds` значения присваиваются в явном виде, но если их получать из столбцов `bedrooms` и `beds` таблицы `df`, то в таблице `df` потребуется преобразование типов, его можно выполнить (с предварительной очисткой данных) так:

`
df['bedrooms']=df['bedrooms'].fillna(0)
df['bedrooms']=pd.to_numeric(df['bedrooms'], downcast='integer')
df['beds']=df['beds'].fillna(0)
df['beds']=pd.to_numeric(df['beds'], downcast='integer')`

Метод `execute()` использует оператор `insert` и другие параметры для компиляции SQL-выражения с помощью компилятора соответствующего диалекта базы данных. Этот компилятор строит нормальное параметризованное выражение и возвращается в метод `execute`, который отправляет оператор SQL в базу данных через соответствующее соединение. Затем сервер базы данных выполняет оператор и возвращает результат операции.

<img src=./Img/Execute_method.png alt="Execute method" width="350">

В дополнение к вставке в качестве метода экземпляра объекта `Table`, `insert` также доступен как функция верхнего уровня для случаев, когда таблица изначально неизвестна. Например, компания airbnb дополнительно к объектам в Амстердаме может иметь еще одну таблицу для Лиона (Франция): `listing_lyon`. Использование функции вставки позволяет использовать один оператор и подменять таблицы.

`ins=insert(listing).values(
    listing_id=20168,
    listing_name='Studio with private bathroom in the centre 1',
    listing_url='https://www.airbnb.com/rooms/20168',
    host_id=59484,
    neighbourhood_id=1,
    property_type_id=1,
    room_type_id=1,
    amenities=df.loc[0,'amenities'],
    bedrooms=1,
    beds=1,
    price=236
)`

In [27]:
lyon=pd.read_csv('ListingsLyon.csv',sep=';')
lyon.head(1)

,id,listing_url,name,host_id,host_name,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bathrooms_text,...,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,56766,https://www.airbnb.com/rooms/56766,Amazing duplex-terrace in old Lyon,269557,Isabelle,f,5e Arrondissement,Entire apartment,Entire home/apt,2 baths,...,2010-11-15,2018-09-04,94,9.0,9.0,10.0,10.0,10.0,9.0,0.45

In [28]:
lyon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5089 entries, 0 to 5088
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5089 non-null   int64
 1   listing_url                  5089 non-null   object
 2   name                         5087 non-null   object
 3   host_id                      5089 non-null   int64
 4   host_name                    5089 non-null   object
 5   host_is_superhost            5089 non-null   object
 6   neighbourhood_cleansed       5089 non-null   object
 7   property_type                5089 non-null   object
 8   room_type                    5089 non-null   object
 9   bathrooms_text               5088 non-null   object
 10  bedrooms                     4409 non-null   float64
 11  beds                         5078 non-null   float64
 12  amenities                    5089 non-null   object
 13  price                        5089 non-null   float64
 14  number_of_reviews            5089 non-null   int64
 15  first_review                 5089 non-null   object
 16  last_review                  5089 non-null   object
 17  review_scores_rating         5089 non-null   int64
 18  review_scores_accuracy       5080 non-null   float64
 19  review_scores_cleanliness    5084 non-null   float64
 20  review_scores_checkin        5080 non-null   float64
 21  review_scores_communication  5083 non-null   float64
 22  review_scores_location       5080 non-null   float64
 23  review_scores_value          5080 non-null   float64
 24  reviews_per_month            5089 non-null   float64
dtypes: float64(10), int64(4), object(11)
memory usage: 994.1+ KB

In [29]:
lyon.loc[0]

id                                                                         56766
listing_url                                   https://www.airbnb.com/rooms/56766
name                                          Amazing duplex-terrace in old Lyon
host_id                                                                   269557
host_name                                                               Isabelle
host_is_superhost                                                              f
neighbourhood_cleansed                                         5e Arrondissement
property_type                                                   Entire apartment
room_type                                                        Entire home/apt
bathrooms_text                                                           2 baths
bedrooms                                                                       3
beds                                                                           4
amenities                      ["Shampoo", "Long term stays allowed", "Kitche...
price                                                                        250
number_of_reviews                                                             55
first_review                                                          2010-11-15
last_review                                                           2018-09-04
review_scores_rating                                                          94
review_scores_accuracy                                                         9
review_scores_cleanliness                                                      9
review_scores_checkin                                                         10
review_scores_communication                                                   10
review_scores_location                                                        10
review_scores_value                                                            9
reviews_per_month                                                           0.45
Name: 0, dtype: object

In [30]:
lyon_neigh=pd.DataFrame(lyon['neighbourhood_cleansed'].value_counts()).sort_index().reset_index()
lyon_neigh.index=range(1,lyon_neigh.shape[0]+1)
lyon_neigh

                index  neighbourhood_cleansed
1  1er Arrondissement                     886
2   2e Arrondissement                     596
3   3e Arrondissement                     859
4   4e Arrondissement                     412
5   5e Arrondissement                     445
6   6e Arrondissement                     475
7   7e Arrondissement                     861
8   8e Arrondissement                     309
9   9e Arrondissement                     246

In [31]:
lyon_prop=pd.DataFrame(lyon['property_type'].value_counts()).sort_index().reset_index()
lyon_prop.index=range(1,len(lyon_prop)+1)
lyon_prop

                                 index  property_type
1                     Entire apartment           3585
2                   Entire condominium            214
3                   Entire guest suite              4
4                    Entire guesthouse              3
5                         Entire house             37
6                          Entire loft            116
7                         Entire place              3
8            Entire serviced apartment             21
9                     Entire townhouse             20
10                        Entire villa              6
11                           Houseboat              1
12                        Private room              1
13           Private room in apartment            824
14   Private room in bed and breakfast             23
15                Private room in boat              5
16         Private room in condominium             87
17             Private room in cottage              1
18         Private room in guest suite              2
19          Private room in guesthouse              9
20              Private room in hostel              1
21               Private room in house             31
22           Private room in houseboat              6
23                Private room in loft             14
24  Private room in serviced apartment              1
25           Private room in townhouse             29
26               Private room in villa              1
27                  Room in aparthotel              2
28           Room in bed and breakfast              1
29              Room in boutique hotel              7
30                      Room in hostel              2
31                       Room in hotel              1
32          Room in serviced apartment              9
33            Shared room in apartment             14
34          Shared room in condominium              1
35               Shared room in hostel              1
36                 Shared room in loft              2
37                          Tiny house              4

In [32]:
lyon_room=pd.DataFrame(lyon['room_type'].value_counts()).sort_index().reset_index()
lyon_room.index=range(1,len(lyon_room)+1)
lyon_room

             index  room_type
1  Entire home/apt       4015
2       Hotel room         17
3     Private room       1039
4      Shared room         18

In [33]:
listing_lyon=Table('listing_lyon',metadata,
                   Column('listing_id',Integer(),primary_key=True),
                   Column('listing_name',String(50),index=True),
                   Column('listing_url',String(255)),
                   Column('host_id',Integer()),
                   Column('neighbourhood_id',Integer()),
                   Column('amenities',String(300)),
                   Column('property_type_id',Integer()),
                   Column('room_type_id',Integer()),
                   Column('bedrooms',Integer()),
                   Column('beds',Integer()),
                   Column('price',Numeric(7,2)),
                   CheckConstraint('price >= 0.00', name='lyon_price_positive'),
                   extend_existing=True
                  )

In [34]:
metadata.create_all(engine)

In [35]:
#2-3. Функция insert

ins=insert(listing_lyon).values(
    listing_id=int(lyon.loc[0,'id']),
    listing_name=lyon.loc[0,'name'],
    listing_url=lyon.loc[0,'listing_url'],
    host_id=int(lyon.loc[0,'host_id']),
    neighbourhood_id=5,
    amenities=lyon.loc[0,'amenities'][:300],
    property_type_id=1,
    room_type_id=1,
    bedrooms=int(lyon.loc[0,'bedrooms']),
    beds=int(lyon.loc[0,'beds']),
    price=lyon.loc[0,'price']
)

print(str(ins))
print(ins.compile().params)

INSERT INTO listing_lyon (listing_id, listing_name, listing_url, host_id, neighbourhood_id, amenities, property_type_id, room_type_id, bedrooms, beds, price) VALUES (:listing_id, :listing_name, :listing_url, :host_id, :neighbourhood_id, :amenities, :property_type_id, :room_type_id, :bedrooms, :beds, :price)
{'listing_id': 56766, 'listing_name': 'Amazing duplex-terrace in old Lyon', 'listing_url': 'https://www.airbnb.com/rooms/56766', 'host_id': 269557, 'neighbourhood_id': 5, 'amenities': '["Shampoo", "Long term stays allowed", "Kitchen", "TV", "Crib", "Dedicated workspace", "Host greets you", "Dryer", "Paid parking off premises", "Wifi", "Carbon monoxide alarm", "Pack \\u2019n Play/travel crib", "Essentials", "Hair dryer", "Iron", "Luggage dropoff allowed", "Smoke alarm", "Washer", "H', 'property_type_id': 1, 'room_type_id': 1, 'bedrooms': 3, 'beds': 4, 'price': 250.0}

In [36]:
result=connection.execute(ins)
result.inserted_primary_key

[56766]

Метод `execute` объекта `connection` может принимать значения в качестве именованных аргументов, которые передаются после выражения. Когда выражение компилируется, он добавляет названия именованных аргументов в список столбцов, а каждое из их значений в часть ЗНАЧЕНИЯ оператора SQL.

In [37]:
# района, тип собственности, тип комнаты для вставляемой записи
print(am.loc[1,'id'])
print(am.loc[1,'neighbourhood_cleansed'])
print(am.loc[1,'property_type'])
print(am.loc[1,'room_type'])

27886
Centrum-West
Private room in houseboat
Private room

In [38]:
# 2-4

ins = listing.insert()

result = connection.execute(
    ins,
    listing_id=int(am.loc[1,'id']),
    listing_name=am.loc[1,'name'],
    listing_url=am.loc[1,'listing_url'],
    host_id=int(am.loc[1,'host_id']),
    neighbourhood_id=5,
    amenities=am.loc[1,'amenities'][:300],
    property_type_id=30,
    room_type_id=3,
    bedrooms=int(am.loc[1,'bedrooms']),
    beds=int(am.loc[1,'beds']),
    price=am.loc[1,'price']
)
result.inserted_primary_key

[27886]

Хотя такой способ не часто используется на практике для одиночных вставок, он дает иллюстрацию компиляции и сборки оператора перед отправкой на сервер базы данных. Мы можем вставить сразу несколько записей, используя список словарей с данными. Воспользуемся этими знаниями, чтобы вставить еще две записи в таблицу listing (Пример 2-5).

In [39]:
for rec in range(2,4):
    for column in ['id','neighbourhood_cleansed','property_type','room_type']:
        print(am.loc[rec,column])
    print()

28871
Centrum-Oost
Private room in apartment
Private room

29051
Centrum-Oost
Private room in apartment
Private room

In [40]:
listing_list=[
    {
        'listing_id' : int(am.loc[2,'id']),
        'listing_name' : am.loc[2,'name'],
        'listing_url' : am.loc[2,'listing_url'],
        'host_id' : int(am.loc[2,'host_id']),
        'neighbourhood_id' : 4,
        'amenities' : am.loc[2,'amenities'][:300],
        'property_type_am' : 19,
        'room_type_id' : 3,
        'bedrooms' : int(am.loc[2,'bedrooms']),
        'beds' : int(am.loc[2,'beds']),
        'price' : am.loc[2,'price']
    },
    {
        'listing_id' : int(am.loc[3,'id']),
        'listing_name' : am.loc[3,'name'],
        'listing_url' : am.loc[3,'listing_url'],
        'host_id' : int(am.loc[3,'host_id']),
        'neighbourhood_id' : 4,
        'amenities' : am.loc[3,'amenities'][:300],
        'property_type_am' : 19,
        'room_type_id' : 3,
        'bedrooms' : int(am.loc[3,'bedrooms']),
        'beds' : int(am.loc[3,'beds']),
        'price' : am.loc[3,'price']
    }
]

In [41]:
result=connection.execute(ins,listing_list)

Словари в списке должны иметь одинаковые ключи. SQLAlchemy компилирует выражение с первым словарем в списке и завершится ошибкой, если последующие словари будут другими.

### Запросы к данным

Чтобы начать построение запроса, мы начнем с использования функции выбора, которая аналогична стандартному оператору SQL SELECT. Для начала выберем все записи в нашей таблице файлов listing.

In [46]:
from sqlalchemy.sql import select
s = select([listing])  
rp = connection.execute(s)
results = rp.fetchall() 
results

[(20168, 'Studio with private bathroom in the centre 1', 'https://www.airbnb.com/rooms/20168', 59484, 4, '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]', 35, 3, 1, 1, Decimal('236.00')),
 (27886, 'Romantic, stylish B&B houseboat in canal district', 'https://www.airbnb.com/rooms/27886', 97647, 5, '["Carbon monoxide alarm", "Private living room", "Refrigerator", "Dishes and silverware", "Smoke alarm", "Patio or balcony", "Private entrance", "TV" ... (2 characters truncated) ... "Wifi", "Smart lock", "Hot water", "Coffee maker", "Hangers", "Fire extinguisher", "Shampoo", "Luggage dropoff allowed", "Lake access", "Long term st', 30, 3, 1, 1, Decimal('135.00')),
 (28871, 'Comfortable double room', 'https://www.airbnb.com/rooms/28871', 124245, 4, '["Wifi", "Hot water", "Private entrance", "Hangers", "Host greets you", "Lock on bedroom door", "Shampoo", "Carbon monoxide alarm", "Fire extinguisher", "Essentials", "Dryer", "Hair dryer", "Heating", "Refrigerator", "Smoke alarm"]', None, 3, 1, 1, Decimal('75.00')),
 (29051, 'Comfortable single room', 'https://www.airbnb.com/rooms/29051', 124245, 4, '["Coffee maker", "Host greets you", "Hair dryer", "Shampoo", "Hangers", "Bed linens", "Heating", "Lock on bedroom door", "Wifi", "Shower gel", "Essentials", "Smoke alarm", "Fire extinguisher", "Iron", "Refrigerator", "Hot water", "Private entrance"]', None, 3, 1, 1, Decimal('55.00'))]